.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.projectImages{
  height: 40vmin;
  align-items: center;
  min-height: 100vh;

}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: monospace;
  color: white;
}

.App-link {
  color: yellow;
}

.Grey {
  color: yellow;
  font-size: 18px;
}

.spacer {
  color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
